.full-height{
    position: relative;
}


.users-list {
    
    background-color: #f0f4f8;
    padding-right: 0px;
    padding-left: 0px;
   
}

.user-profile-photo {
    margin-right: 10px;
    font-size: 30px;
}

.user {
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.selected {
        background-color: #dbf4fd;
    }
}

.username {
    text-transform: capitalize;
}

.chat-window {
    padding: 0px;
    max-height: 100%;
    overflow: hidden;
    
}

.show-chat{
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}



.message-header {
    box-shadow: 0px 4px 3px -2px rgba(0, 0, 0, 0.04);
    padding: 20px;
    border-bottom: 1px solid #f0f4f8;
    display: flex;
    justify-content: space-between;
}

.message-box {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
}

.message-input {
    border: none;
    border-top: 1px solid #f0f4f8;
    border-radius: 0px;
    resize: none;
    height: 150px !important;
    padding-top: 20px;
    padding-left: 20px;
    max-height:100%!important;
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: #f0f4f8;
    }
}


.message-bubble {
    background-color: #f8f8f8;
    max-width: 80%;
    word-wrap: break-word;

}

.message-list {
    padding: 20px;
    overflow-y: scroll;
}

.message-bubble-container {
    display: flex;

    &.right {
        justify-content: flex-end;
        .message-bubble {
            background-color: #f5f9ff;
        }
    }

    &.left {
        justify-content: flex-start;
    }
}

.send-icon-container {
    background-color: transparent;
    border-top: 1px solid #f0f4f8;
    border-radius: 0px;
    cursor: pointer;
    align-items: flex-start;align-items: flex-start;
    padding: 20px 20px 0px 0px;
    padding: 20px 20px 0px 0px;
}


.user-logout{
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;

    span{
        font-size: 1rem;
        color: #000;
        text-transform: capitalize;
        font-weight: 700;
    }

    button{
        background: transparent;
        border: none;
        outline: 0;
    }
}

.date{
    display: flex;
    align-items: center;

    .status{
        font-size: .7rem;
        margin-bottom: 0;
        margin-left: 8px;
    }
}